<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header bg-warning text-dark">
        <h5><i class="fa fa-shield"></i> Admin Guides</h5>
      </div>
      <div class="card-body">
        <div class="list-group list-group-flush">
          <a
            href="/guide/create-new-tickets"
            class="list-group-item list-group-item-action"
          >
            Creating New Tickets
          </a>
          <a
            href="/guide/view-all-tickets"
            class="list-group-item list-group-item-action"
          >
            Viewing All Tickets
          </a>
          <a
            href="/guide/manage-user-requests"
            class="list-group-item list-group-item-action"
          >
            Managing and Updating Tickets
          </a>
          <a
            href="/guide/delete-tickets"
            class="list-group-item list-group-item-action"
          >
            Deleting Tickets
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
