<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header bg-info text-white">
                <h5><i class="fa fa-user"></i> User Guides</h5>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="/guide/create-new-tickets" class="list-group-item list-group-item-action">
                        Creating New Tickets
                    </a>
                    <a href="/guide/track-your-tickets" class="list-group-item list-group-item-action">
                        Tracking Your Tickets
                    </a>
                    <a href="/guide/update-existing-tickets" class="list-group-item list-group-item-action">
                        Updating Existing Tickets
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>