{% extends "base.html" %} {% block title %}Sign up{% endblock%}

{% block content %}
<form method="POST">
  <br />
  <h3 align="center">Sign up for the Help Desk App</h3>

  <div class="form-group">
    <label for="username">User Name</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter a user name"
    />
  </div>
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input
      type="text"
      class="form-control"
      id="first_name"
      name="first_name"
      placeholder="Enter your first name"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter a password"
    />
  </div>
  <div class="form-group">
    <label for="passwordConfirm">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="passwordConfirm"
      name="passwordConfirm"
      placeholder="Confirm password"
    />
  </div>

  <div class="form-group">
    <label for="role">Role</label>
    <select class="custom-select" name="role" id="role">
      <option value="" selected disabled>Select a Role</option>
      <option value="user">User</option>
      <option value="Admin">Admin</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="departmentId">Department ID (optional)</label>
    <select class="custom-select" name="departmentId" id="departmentId">
      <option value="" selected disabled>Select a Department Id</option>
      <option value="consulting">Consulting</option>
      <option value="business">Business</option>
      <option value="hr">HR</option>
      <option value="finance">Finance</option>
      <option value="marketing">Marketing</option>
      <option value="facilities">Facilities</option>
      <option value="resourcing">Resourcing</option>
    </select>
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br /><br /><br />
<button>
  <a href="{{ url_for('auth.login') }}">Already have an account? Login here</a>
</button>
{% endblock %}
